/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/*.gem
/.idea/.rakeTasks
/.idea/CapicuaGen.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations/main.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
/althazar/*.gem
/ssential/*.gem
/aspar/*.gem
/elchior/*.gem
